<% include partials/header %>

<div class="ui main text container">
    <div class="ui top attached">
        <form class="ui form" method="POST" action="/itsystems/<%= itsystem._id %>/?_method=PUT">
            <h2>Ändern von "<%= itsystem.name %> (<%= itsystem.icto %>)"</h2>
            <div class="ui field">
                <lable>Kurzame</lable>
                <input type="text" value="<%= itsystem.name %>" name="itsystem[name]">
            </div>
            <div class="ui field">
                <lable>ICTO</lable>
                <input type="text" value="<%= itsystem.icto %>" name="itsystem[icto]">
            </div>
            <div class="ui field">
                <lable>Release</lable>
                <input type="text" value="<%= itsystem.release %>" name="itsystem[release]">
            </div>
            <div class="ui field">
                <lable>Apdex</lable>
                <input type="text" value="<%= itsystem.apdexValue %>" name="itsystem[apdexValue]">
            </div>
            <div class="ui field">
                <button class="ui green inverted button"><i class="ui icon save circle"></i> Änderungen speichern</button>
                <a href="/itsystems" class="ui red inverted button"><i class="ui icon remove circle"></i> Änderungen verwerfen</a>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>

<% include partials/footer %>